.sticky-selectors {
    height: fit-content;
    width: auto;
    background-color: #5C5C5C;
    color: white;
    position: sticky;
    margin-top: 20px;
    top: 6%;
    left: 5%;
    border-radius: 25px;
}