.create-event-button { 
    position: absolute;
    /* margin-top: 15px; */
    top: 52%;
    right: 210px;
    border-radius: 15px;
    font-size: 1.3em;
    padding: 10px 15px;
    color: white;
    margin: 0;
    font-weight: bold;
    font-family: 'Katibeh';
    background-color: red;
}

.create-event-button:hover {
    cursor: pointer;
    background-color: rgb(151, 0, 0) ;
}

.tab-title {
    position: absolute;
    top: 65%;
    left: 50%;
    margin: 0;
    padding: 0;
    clear: both;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Katibeh';
    user-select: none;
}
.hidden {
    display: none;
}