.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(248, 248, 248, 0.3); 
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}

.form-contents {
  display: flex;
  flex-direction: column;
  width: 80%;
}

label {
  margin-bottom: 10px;
}

button {
  padding: 12px;
  background-color: #af4c4c;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #ffffff;
  color: #af4c4c;
}

.form-container:hover {
  background-color: rgba(237, 237, 237, 0.497);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}