.event-button {
    height: 46px;
    padding-left: 25px;
    padding-right: 25px;

    color: white;
    border-radius: 40px;
    font-size: 1.3vw;
    font-weight: bold;
    font-family: 'Katibeh';

    /* background-color: orange; */
    background-color: #252525;
}

.event-button:hover {
    background-color: #627AA2;
    cursor: pointer;
}

