.event-info-container {
    width: 100%;
    margin-bottom: 0;
    /* font-size: 1.3vw; */
    font-family: 'Katibeh';
    height: fit-content;
}

.event-info-image {
    margin: auto;
    margin-bottom: 0;
}    
.event-info-event-data {
    font-size: 1.5em;
    height: fit-content;
    margin: auto;
    margin-bottom: 0;
    padding: 0 5px;
}

.event-info-title {
    font-size: 4em;
    margin-bottom: 50px;
    font-weight: bold;
    line-height: 80px;
}

.event-info-subtitle {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0;
}

.event-info-text {
    font-size: 1.5em;
    margin-bottom: 0px;
}

.event-info-left {
    padding-top: 5%;
    width: 50%;
    height: 100%;
    float: left;
    margin-bottom: 0;
    text-align: center;
}

.event-info-right {
    padding-top: 5%;
    padding-right: 3%;
    width: 50%;
    height: 100%;
    float: left;
    margin-bottom: 0;
}

.event-info-back-button {
    position: absolute;
    top: 80px;
    left: 80px;
    width: fit-content;
    height: fit-content;
    font-size: 1.3em;
    text-decoration: underline;
    color: red;
}

.image-formating {
    object-fit: cover;
    object-position: center;
    max-height: 500px;
    max-width: 800px;
    width: 94%;
}